<%- include ('partials/header') %>
    <div class="welcome container">
        <h1 class="title text-center">Welcome to Zhetao's Applications!</h1>
        <p class="text-center">Login or Register to access the applications</p>
        <a href="/login" type='button' class="btn btn-light">Login</a>
        <a href="/register" type='button' class="btn btn-dark">Register</a>
    </div>

<%- include ('partials/footer') %>


