<%- include ('partials/header') %>
<div class="container">  
  <h1>You have successfully logged in!</h1>
  <a href="/logout" class="btn btn-dark">Logout</a>
  <a href="/app/minesweeper" class="ms-btn btn btn-dark">Play Minesweeper</a>
</div>
<%- include ('partials/footer') %>
