<%- include ('partials/applicationsHeader') %>
<div class="container">  
  <h1 class='mt-3'>Welcome to Zhetao's Applications</h1>
  <h5>Select which applications or service that you will like to use </h5>
  <!-- <a href="/logout" class="btn btn-dark">Logout</a> -->
  <a href="/app/minesweeper" class="ms-btn btn btn-dark">Play Minesweeper</a>
  <a href="/app/personalBlog" class="ms-btn btn btn-dark">Personal Blog</a>

</div>
<%- include ('partials/applicationsFooter') %>
