body {
    background-color: aliceblue;
    font-family: 'Montserrat';
  }

.btn {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    width: 7rem;
}

.ms-btn {
    margin-left: 0.5rem;
    width: 17rem;
}

.container {
    padding: 20px 12px;
}

/* MINESWEEPER GAME */
.ms-title {
    text-align: center;
    margin: 2rem 0;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 15px;
}

.how {
    margin-left: 9%;
}

.left, .right {
    margin-top: 1%;
    line-height: 1.6;
    text-align: center;
    width: 20%;
}


.game-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 3px outset;
    margin: -1px;
    /* border-right: gray;
    border-top: white;
    border-left: white; */
    /* border-radius: 20%; */
    /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3); */
}

hr {
    border: 0;
    margin: 0;
}


/* position:absolute prevents the minesweeper buttons from shifting when clicked on */
.game-button img { /* for mines */
    background-color: transparent;
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30px;
}

.game-button span { /* for number */
    position: absolute;
}

.clicked {
    border: inset;
}

.exploded {
    background-color: red;
}
