<%- include ("../partials/applicationsHeader") %><!--  file path follow with respect to the current template -->
<div class="container">
    <h1>Home</h1>
    <p><%=content%></p>
</div>
<%- include ("../partials/applicationsFooter") %>
