body {
  background-color: aliceblue;
  font-family: 'Montserrat';
}

.welcome .title {
  font-weight: 600;
  margin-top: 15rem;
}

.welcome {
  text-align: center;
}

.btn {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  width: 7rem;
}

.title {
  font-weight: 600;
}

#usernameInput, #passwordInput {
  width: 70%;
}


.register, .login { /*register and login divs */
  margin-left: 12rem;
}

.btn-google, .btn-facebook, .ms-btn {
  margin-left: 0.5rem;
  width: 17rem;
}
